<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <app-header></app-header>
    </div>

    
<div class="splash-container" style="width: 100%;">
       
                <app-sidebar></app-sidebar>
           
    <div class="card " >
        <div class="card-header text-center"><a href="#">LOGIN FORM</a><span class="splash-description">Please enter your
                user information.</span></div>
        <div class="card-body">
            <form  name="form"
            (ngSubmit)="f.form.valid && submit()"
            #f="ngForm"
            novalidate>
                <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && loginFail">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Login failed: {{ message }}
                    </div>
                </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="username" type="text" placeholder="Email"
                            autocomplete="off" name="username" [(ngModel)]="form.username" #username="ngModel">
                            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
                                Email is required!
                            </div>
                       
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="password" type="password" placeholder="Password"
                             [(ngModel)]="form.password" name="password" #password="ngModel">
                             <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                                password is required!
                            </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span
                                class="custom-control-label">Remember
                                Me</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign
                        in</button>
            </form>
        </div>
        <div class="card-footer bg-white p-0  ">
            <div class="card-footer-item card-footer-item-bordered" id="footer1">
                <a href="/createAccount" class="footer-link" routerLink="/createAccount">Create new Account</a></div>
            <div class="card-footer-item card-footer-item-bordered" id="footer2">
                <a href="#" class="footer-link">Job Available</a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>

<script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
