<div class="dashboard-main-wrapper" >
    <div class="dashboard-header">
       <app-header></app-header>
      </div>
      
      
      <div class="dashboard-wrapper" style="width: 70%; padding-top: 20px;">
        <div class="container-fluid">
            <app-sidebar></app-sidebar>

            <div class="main-content container-fluid">
                <div class="email-head">
                    <div class="email-head-subject">
                        <div class="title"><a class="active" href="#"><span class="icon"></span></a> <span>{{jobInfo.jobTilte}}</span>
                            <div class="icons"><div class="date"><button  *ngIf ="check !== 'HR'" class="btn btn-primary" [routerLink]="['/applicationForm', jobInfo.id]">Apply</button></div></div>
                        </div>
                    </div>
                    
                </div>
                <div class="email-body" [innerHTML]="jobInfo.description">
                    {{jobInfo.description}}
                </div>
                <div class="email-attachments">
                    <div class="title">Attachments <span>(Resume | CURRICULUM VITAE)</span></div>
                    <ul>
                        <li><a href="#"><span class="icon mdi mdi-attachment-alt"></span> Published: {{jobInfo.publishedDate | date: "dd-MMM-yyyy "}} </a></li>
                        <li><a href="#"><span class="icon mdi mdi-attachment-alt"></span> Deadline: {{jobInfo.deadline | date: "dd-MMM-yyyy"}} </a></li>
                    </ul>
                </div>
            </div>
        
        </div>
      </div>
      
   </div>
   
